{% load users_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <ul>
            {% for article in articles %}
                <li> 
                    {% if article.archived %} 
                        <h2 style = "background-color: grey"><a href=" {% url 'article' article.id %} "> {{article.title}} </a> </h2>
                    {% else %}
                        <h2 style = "background-color: red"><a href=" {% url 'article' article.id %} "> {{article.title}} </a> </h2>
                    {% endif %}
                </li>
            {% endfor %}

            <h1>{% generate_dummy_string "Naveed" %} </h1>

            {% include "our_design.html" %}
        </ul>
    </div>

</body>
</html>